<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Стань лучшим в HBG!</h1>
    <p class="lead font-weight-normal">HBG поможет вам узнать всю необходимую информацию для продвижения в рейтинговой таблице Hearthstone Battle Grounds.</p>
    <a class="btn btn-outline-secondary" [routerLink]= "['/cardlist']">Вступить в наши ряды</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Лучий герой</h2>
      <p class="lead">Тирион непобедимый!</p>
    </div>
      <img src="https://d15f34w2p8l1cc.cloudfront.net/hearthstone/db8bb19a43722ac3c1067052e33bbd92c8b47f626914f3419711ef626a1c2b20.png" alt="">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Лучшая карта</h2>
      <p class="lead">Расстреляй своих врагов!</p>
    </div>
    <img src="https://d15f34w2p8l1cc.cloudfront.net/hearthstone/3d225737e829dd40dc19e459e0b98e06ffc5acb2db39befe64de90168b4e28e9.png" alt="">
  </div>
</div>
