<div class="container">
  <div class="row">
    <div *ngFor="let card of cards" class="col-md-4 col-sm-4 col-xs-12">
      <div class="">
        <div class="">
          <app-modal-options></app-modal-options>
          <button type="button" name="button" class="btn btn-primary ml-1" (click)="deleteCardClick(card._id)">X</button>
        </div>
        <img [src]="card.imagesrc" class="img-fluid " alt="">
      </div>

      <div class="">
        <h2 class="card-title">{{card.name}}</h2>
        <p class="card-text">{{card.title}}</p>
      </div>
    </div>
  </div>
</div><br><br>


<h1>Добавить карту</h1>
<form #form = "ngForm" (submit) = "addCardClick(form)">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Введите имя" class="form-control"><br>
  <input type="text" [(ngModel)]="title" name="title" placeholder="Введите описание" class="form-control"><br>
  <input type="text" [(ngModel)]="imagesrc" name="imagesrc" placeholder="Введите ссылку на изображение" class="form-control"><br>
  <select [(ngModel)]="rating" name="rating" class="form-control">
    <option selected disabled>Выберите рейтинг карты</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <button class="btn btn-success" type="submit">Добавить карту</button>
</form>
