<div class="container">
  <div class="row">
      <div class="">
        <img [src]="this.card.imagesrc" class="img-fluid " alt="">
      </div>

      <div class="">
        <h2 class="card-title">{{this.card.name}}</h2>
        <p class="card-text">{{this.card.title}}</p>
        <p class="card-rating">Рейтинг карты: {{this.card.rating}}</p>
      </div>
  </div>
</div><br><br>

<h1>Изменить карту</h1>
<form #form = "ngForm" (submit) = "UpdateCardClick(form)">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Введите имя" class="form-control"><br>
  <input type="text" [(ngModel)]="title" name="title" placeholder="Введите описание" class="form-control"><br>
  <input type="text" [(ngModel)]="imagesrc" name="imagesrc" placeholder="Введите ссылку на изображение" class="form-control"><br>
  <select [(ngModel)]="rating" name="rating" class="form-control">
    <option selected disabled>Выберите рейтинг карты</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <button class="btn btn-success" type="submit">Изменить карту</button>
</form>
